/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.animate-show.ng-enter, .animate-show.ng-move {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.animate-show.ng-enter.ng-enter-active,
.animate-show.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.animate-show.ng-leave {
  -webkit-animation:0s my_animation;
  -moz-animation:0s my_animation;
  -o-animation:0s my_animation;
  animation:0s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }1
}







/* Chrome, Safari, Opera */
@-webkit-keyframes zoom-animation {
    from {
    	-webkit-transform: scale(1,1) rotate(0);
    }
    to {
    	-webkit-transform: scale(1.3,1.3) rotate(-20deg);
    }
}

/* Standard syntax */
@keyframes zoom-animation {
   from {
        transform: scale(1,1) rotate(0);
   }
   to {
        transform: scale(1.3,1.3) rotate(-20deg);
   }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes zoom-animation-reverse {
    from {
    	-webkit-transform: scale(1.3,1.3) rotate(-20deg);
    }
    to {
    	-webkit-transform: scale(1,1) rotate(0);
    }
}

/* Standard syntax */
@keyframes zoom-animation-reverse {
   from {
        transform: scale(1.3,1.3) rotate(-20deg);
   }
   to {
        transform: scale(1,1) rotate(0);
   }
}

.bg-zoom {
    -webkit-animation: zoom-animation 60s; /* Chrome, Safari, Opera */
    animation: zoom-animation 60s;
}
.bg-zoom-reverse {
    -webkit-animation: zoom-animation-reverse 60s; /* Chrome, Safari, Opera */
    animation: zoom-animation-reverse 60s;
}
