

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.red { background-color: #DA4453; }
.blue { background-color: #4A89DC; }
.yellow { background-color: #FFCE54; }
.green { background-color: #8CC152; }



/* Base to emulate view */

	html, body
	{
		width:100%; height:100%;
		overflow:hidden;
		padding:0px; margin:0px;
		-webkit-font-smoothing: antialiased;
		font-family: arial;
	}

	/*#wrapper-view-father {
		padding-bottom: 30px;
	}*/
	#wrapper-view {
		margin-top: 7.5vh;
		height: 85vh;
		overflow: hidden;
		padding-left: 0px;
		padding-right: 0px;
		/*outline: 2000px solid rgba(8,25,50,0.8);*/
		overflow: auto;
	}
	@media only screen and (max-width : 768px)
	{
		#wrapper-view {
			padding:0px;
			margin:0px;
			height: 100%;
		}
		#container_god, #wrapper-view-father, #wrapper-view {
			height:100%;
		}
	}

	#view-element {
		width: 100%; height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	::-webkit-scrollbar {
		display: none;
	}

	a {
		text-decoration: none !important;
	}
	a:hover {
		text-decoration: none !important;
	}

	a.row {
		display: block;
	}

	.clickable {
		cursor: pointer;
	}

	h2 input {
		display: inline-block;
		color: black;
	}

	.progress-bar.progress-bar-plain{
		/*background-image: linear-gradient(to bottom,#fee087 0,#DBBA56 100%);*/
		background-image: none;
	}
	.btn.btn-yellow{
		/*background-image: linear-gradient(to bottom,#fee087 0,#DBBA56 100%);*/
		background-color:#FFCE54 !important;
	}
	.progress.progress-not-radius {
		border-radius: 0;
	}

	.bg-blue { background-color: #2b78e4; }
	.bg-yellow { background-color: #ff9900; }
	.bg-green { background-color: #009e0f; }

/* Sizes & positions */

	.supercontainer {
		width:100%;
		height:100vh;
	}

	.wst-logo {
		background-size: contain !important;
		margin-top: 10vh;	/* Espaciado superior del logo */
		height: 300px;		/* De esto depende el tamaño del logo */
	}

	.loading {
		background-size: contain !important;
		margin-top: 10vh;	/* Espaciado entre logo y loading */
		height: 50px;		/* De esto depende el tamaño del logo */
	}

	.nav-tools {
		position:absolute;
		left: 10px; top: 10px;
		font-size: 20px;
		color:white;
		z-index: 10;
	}
	.nav-tools .clickable {
		display: inline-block;
		padding:3px 5px;
		text-decoration: none;
		color : white;
	}

	.nav-tools .clickable:hover {
		/* background-color: rgba(255,255,255,0.2); */
	}


	/* Welcome Page */

		#welcome_page {

			background-color: #025995;
			height:100%; width: 100%;

		}

		#welcome_page .vertical-wrapper{
			position: absolute;
			display: block;

			width: 208px; height: 350px;
			top: 50%; left: 50%;
			margin-top: -175px; margin-left: -104px;

		}

		#welcome_page .logo-big {
			display: block;
			width:208px; height:212px;
		}

		#welcome_page .loading-spin {
			display: block;
			width:70px; height:70px;
			margin-left: 69px; /* 208/2 - width/2 */

			margin-top: 20px;
		}

	/* Menu Page */

		#menu_page {
			display: block;
			position: absolute;
			left:0px; top:0px;
			z-index: 20;

			height: 100%; width: 100%;
			display: none;

			padding: 0px;


			overflow: hidden;
		}
		#menu_page .columna {
			display: block;
			position: absolute;
			left:0px; top:0px;
			z-index: 22;

			height: 100%; width: 0%; /* 70% when opened */

			padding: 0px;

			background-color: #0065ad;

			overflow: hidden;
		}
		#menu_page .wrapper {
			min-width: 170px;
		}
		#menu_page .bg-closer {
			display: block;
			position: absolute;
			left:0px; top:0px;
			height: 100%; width: 100%;
			z-index: 21;

			display: none;

			padding: 0px;

			background-color: rgba(0,0,0,0.5);

			overflow: hidden;
		}

		#menu_page .logo-small {
			display: inline-block;
			width: 90px; height: 90px;

			margin-top: 15px;
			margin-left: 20px;
		}

		#menu_page .menu-3-lines-white {
			display: inline-block;
			width: 32px; height: 32px;

			margin-top: 15px;
			margin-right: 20px;
		}

		#menu_page .menu-wrapper {
			width: 100%;
			padding: 0px; margin: 0px;

			padding-top: 20px;
		}
		#menu_page .menu-wrapper a {
			display: inline-block;
			padding: 10px 20px;
			width: 100%;
			margin-bottom: 5px;

			font-size: 20px;
			color: white;
			background-color: #00366f;
		}
		#menu_page .menu-wrapper a.half-bg-opacity
		{
			background-color:rgba(0, 54, 111, 0.5);

		}
		/*#menu_page .menu-wrapper a:hover {
			background-color: #01254b;
		}*/


	/* Header */



	/* news Page */

		#news_page {
			height: 100%;
			padding: 0;
			padding-top: 100px;
		}

		/* header */

			#news_page .header {
				display: block;
				position: absolute;
				top: 0px; left: 0px;
				width: 100%; height: 100px;

				z-index: 22px;

				background-color: #003d6a;

			}

			#news_page .header .menu-3-lines-white {
				display: block;
				position: absolute;
				left:0px; top:0px;
				width: 32px; height: 32px;
				z-index: 10;

				margin-top: 10px;
				margin-left: 10px;

			}

			#news_page .header .logo-small {
				display: inline-block;
				width: 90px; height: 90px;

				position: absolute;
				top: 5px; left: 50%; margin-left: -45px;

			}

		/* Jumbo */

			#news_page {
				/* Ponemos el padding para que el jumbo ocupe el espacio sobrante */
				padding: 0px;
				padding-top: 100px;
				padding-bottom: 395px;
			}
			#news_page .jumbo {
				display: block;
				width: 100%; height: 100%;
			}

			#news_page .message {
				position: absolute;
				left: 0px; bottom: 395px;
				width: 100%;

				text-align: center;

				font-size: 22px;
				margin:0; padding:0;
				padding: 15px 0;

				color: white;

				background-color: rgba(0,0,0,0.5);
			}

		/* Info */

			#news_page .info {
				display: block;
				position: absolute;
				left: 0px; bottom: 0px;
				width: 100%; height: 395px;

				background-color: #003d6a;
				color: white;

				padding:25px 20px;
				overflow-y: auto;
			}

			#news_page .info p
			{
				font-size:16px;

			}





	/* Events Page */


		/* header */

			#events_page .header {
				display: block;
				position: absolute;
				top: 0px; left: 0px;
				width: 100%; height: 100px;

				z-index: 22px;

				background-color: #003d6a;

			}

			#events_page .header .menu-3-lines-white {
				display: block;
				position: absolute;
				left:0px; top:0px;
				width: 32px; height: 32px;
				z-index: 10;

				margin-top: 10px;
				margin-left: 10px;

			}

			#events_page .header .logo-small {
				display: inline-block;
				width: 90px; height: 90px;

				position: absolute;
				top: 5px; left: 50%; margin-left: -45px;

			}

		/* Jumbo */

			#events_page {
				height: 100%;
				/* Ponemos el padding para que el jumbo ocupe el espacio sobrante */
				padding: 0px;
				padding-top: 100px;
				padding-bottom: 395px;
			}
			#events_page .jumbo {
				position: relative;
				display: block;
				width: 100%; height: 100%;
				background-color: #003d6a;
			}

			#events_page .slideshow
			{
				display: block;
				position: absolute;
				top:0;left:0;
				height:100%; width:100%;
			}

			#events_page .slideshow li {
				  position: absolute;
				  width: 100%; height: 100%;
				display: none;
				  left: 0;
				  top: 0;
			  }

			#events_page .slideshow li:first-child {
				  float: left;
				  display: block;
			}

			/*#events_page .jumbo ul li
			{
				display: none;
			}
			#events_page .jumbo ul li:first-child
			{
				display: list-item;
			}*/

			#events_page .message {
				position: absolute;
				left: 0px; bottom: 0px;
				width: 100%;

				text-align: center;

				font-size: 22px;
				margin:0; padding:0;
				padding: 15px 0;

				color: white;

				background-color: rgba(0,0,0,0.5);
			}

		/* Info */

			#events_page .info {
				display: block;
				position: absolute;
				left: 0px; bottom: 165px;
				width: 100%; height: 230px;

				background-color: #003d6a;
				color: #edc565;
			}
			#events_page .info .col-mitad {
				display: inline-block;
				width: 50%; height: 100%;
				vertical-align: top;
			}

			#events_page .info h2.col-title {
				margin: 0px; padding: 0px;
				font-size: 18px;
				text-align: center;
				padding-top: 15px;
				height: 50px;
				color: #edc565;
			}
			#events_page .info .col-left {
				padding: 0 15px 0 10px;
			}
			#events_page .info .col-right {
				padding: 0 10px 0 15px;
			}

			#events_page .info .col-left h1 {
				margin: 0px; padding: 0px;
				font-size: 22px;
				text-align: center;
				margin-top: 0px;
				color: #edc565;
			}
			#events_page .info .col-left .event-container {
				display: block;
				margin: 0;
				padding: 10px 0px;
				border-radius: 5px;
				background-color: #28567a;
			}
			#events_page .info .col-left .wrapper-line {
				display: block;
				border-top: 1px solid #003d6a;
			}

			#events_page .info .col-left h3.location {
				margin: 0px; padding: 0px;
				font-size: 16px;
				color: #edc565;
				text-align: center;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			#events_page .info .col-left h3.counter {
				margin: 0px; padding: 0px;
				font-size: 18px;
				color: white;
				text-align: center;
				padding-top: 10px;
			}
			#events_page .info .col-left h3.display {
				margin: 0px; padding: 0px;
				font-size: 12px;
				color: #edc565;
				text-align: center;
				padding-top: 5px;
			}

			#events_page .info .col-right .timetable-title {
				background-color: #28567a;
				color: white;
				margin: 0;
				margin-bottom: 10px;
				border-radius: 5px;

				text-align: center;
				padding: 10px;
				font-size: 16px;
			}

			#events_page .info .col-right .wrapper {
				/* Centrado pero alineado a la izquierda */
				text-align: center;
			}

			#events_page .info .col-right ul {
				list-style-type: none;
				padding: 0; margin: 0;

				/* Centrado pero alineado a la izquierda */
				text-align: left;
				display: inline-block;
				zoom: 1;
			}
			#events_page .info .col-right ul li{
				margin: 0 10px 5px 0;
				padding: 0;

				color: white;
				font-size: 14px;
			}

		/* Calendar */

			#events_page .calendar {
				display: block;
				position: absolute;
				left: 0px; bottom: 120px;
				width: 100%; height: 45px;

				font-size: 14px;

				/*background-color: #28567a;*/
				background-color: #003d6a;

				padding: 10px;
				padding-left: 90px;
			}

			#events_page .calendar .title {
				position: absolute;
				left: 10px; top: 10px;

				color: #edc565;
				display: inline-block;

				padding: 2px 5px 2px 0;

				/*border: 1px solid #004b76;*/
				border-radius: 5px;

				background-color: #003d6a;
			}

			#events_page .calendar .text {
				vertical-align: top;
				display: inline-block;
				width: 100%;
				overflow-x: hidden;

				/*white-space: nowrap;*/

				padding-top: 2px;
			}

			#events_page .calendar .fecha {
				color: white;
				margin-right: 0px;
			}
			#events_page .calendar .evento {
				color: #edc565;
				margin-right: 0px;
			}
			#events_page .calendar .separator {
				color: #edc565;
				margin-right: 0px;
			}



		/* Footer */

			#events_page .footer {
				display: block;
				position: absolute;
				left:0px; bottom:0px;

				width: 100%; height: 120px;

				background-color: #003d6a;
				overflow: hidden;

				padding: 10px 10px;


				/* Border superior */
				-webkit-box-shadow: inset 0px 1px 0px 0px rgba(40,86,122,1);
				-moz-box-shadow: inset 0px 1px 0px 0px rgba(40,86,122,1);
				box-shadow: inset 0px 1px 0px 0px rgba(40,86,122,1);


			}

			/*#events_page .footer .wrapper {
				padding-left: 50%;
			}

			#events_page .footer .wrapper2 {
				display: block;
				width: 428px;
				margin-left: -210px;
				overflow-x: visible;
			}*/
			#events_page .footer .wrapper {
				display: block;
				width:100%; height:100%;
				overflow-x:auto;
			}

			#events_page .footer .wrapper2 {
				display: inline-block;
				height:100%;
				padding-left:1px;
				overflow-x: visible;
				white-space: nowrap;
			}

			#events_page .footer .col-tercio {
				display: inline-block;
				width: 130px;
				font-size: 16px;
				margin-right: 15px;
				vertical-align: top;
			}

			#events_page .footer .col-tercio:last-child {
				margin-right: 0px;
			}

			#events_page .footer h3 {
				font-size: 22px;
				font-weight: normal;

				margin: 0px;
				margin-bottom: 10px;

				color: #edc565;
			}

			#events_page .footer .card {
				height: 65px; width: 130px;
			}

			#events_page .footer .left {
				display: inline-block;
				width: 20px; height: 100%;

				background-color: #edc565;

				font-size: 16px;
			}

			#events_page .footer .right {
				display: inline-block;
				width: 110px; height: 100%;

				color: white;
			}
			#events_page .footer .right .surfer {
				font-size: 14px;
				display: block;
			}
			#events_page .footer .right .country {
				font-size: 12px;
			}


			#events_page .footer .card {
				outline: 1px solid #004f7d;
			}
			#events_page .footer .left {
				border-right: 1px solid #004f7d;
			}

	/* Event Page */

		#event_page {
			height: 100%;
			padding: 0;
			padding-top: 100px;
			padding-bottom: 200px;
		}

		/* header */

			#event_page .header {
				display: block;
				position: absolute;
				top: 0px; left: 0px;
				width: 100%; height: 100px;

				padding:10px;

				z-index: 22px;

				background-color: #003d6a;
			}

			#event_page .header .back-button {
				position: absolute;
				top:10px; left:10px;
				display: inline-block;
				padding:3px 5px;
				text-decoration: none;
				color : white;

				font-size: 20px;
			}
			/*#event_page .header .back-button:hover {
				background-color: rgba(255,255,255,0.2);
			}*/


			#event_page .header h1 {
				color: white;
				font-size: 20px;
			}

			#event_page table {
				overflow: hidden;
			}

			#event_page .heat-row {
				text-decoration: none;
				text-align:center;
				margin-bottom: 35px;
				background-color: rgba(0,74,128,0.75);
			}
			#event_page .heat-row:last-child {
				margin-bottom: 0px;
			}

			#event_page .heat-row h2 {
				font-size: 25px;
				margin: 10px 0 0 0;
			}
			#event_page .heat-row h3 {
				font-size: 20px;
				margin: 10px 0 10px 0;
			}








	/* Heat Page */

		/* TITLE */

			#event-title {
				position: absolute;
				padding:0; margin:0;
				top:0px; left: 0px;
				height:100px; width: 100%;
				text-align: center;
				display:block;
			}

			#event-title h2
			{
				max-width: 80%;
				margin: 0 auto;
				margin-top: 10px;
				font-size: 20px;
			}
			#event-title h3
			{
				margin-top: 8px;
				margin-bottom: 0px;
				font-size: 14px;
			}

			#event-title .progress {
				margin-top: 8px;
				margin:0px;
				height:10px;
			}
			#event-title .col-progressbar {
				padding-left: 10px;
				padding-right: 10px;
				margin-top: 8px;
			}

			#event-title .heat-times {
				padding:0px;
				text-align: left;
			}
			#event-title .heat-times.left {
				padding:0px;
				text-align: right;
			}

			#event-title .unix-to-until-for-heats {
				font-size: 12px;
			}

		/* COMPETING BAR */

			#competing-bar
			{
				position:absolute;
				padding:0; margin:0;
				bottom:0; left:0;
				width:100%; height:auto;
				text-align: center;
				display:block;
				background-color: red;

				padding-bottom: 10px;
				margin-bottom: 35px;
			}

			#competing-bar .wrapper {
				padding-left: 50%;
			}

			#competing-bar .wrapper2 {
				display: block;
				width: 370px;
				margin-left: -185px;
				overflow-x: visible;
			}

			#competing-bar h3 {
				margin: 10px 0px;
				font-size: 16px;
			}

			#competing-bar .card {
				display: inline-block;
				width: 110px;
				font-size: 16px;
				margin-right: 20px;
				vertical-align: top;

				color: white;
			}
			#competing-bar .card:last-child {
				margin-right: 0px;
			}

			#competing-bar .surfer-badge-big {
				width: 100%; height: 65px;
				padding-top: 10px;
			}

			#competing-bar .card .score-wrapper {
				max-height: 40px;
				overflow: hidden;
				display: block;
				color: black;
			}

			#competing-bar .surfer-name {
				font-size: 16px;
			}
			#competing-bar .country-name {
				font-size: 12px;
			}

		/* STATUS */

			#status-bar
			{
				position:absolute;
				padding:0; margin:0;
				padding: 10px 0 0 0;
				bottom:0; left:0;
				width:100%; height:auto;
				text-align: center;
				display:block;
				height: 35px;
				overflow-y: hidden;
				float:left;

				font-size: 13px;
			}

		/* BODY */

			#heat_page {
				height:100%; max-height:100%;
				width: 100%;
				overflow-x: hidden;
				overflow: auto;
				padding-top: 150px;
				padding-bottom: 200px;
			}

		/* WAVEs info */

			#heat_page .waves-info-row
			{
				text-decoration: none;
				text-align:center;
				margin-bottom: 10px;

				height: 90px;
			}
			#heat_page .waves-info-row table
			{
				height: 100%;
			}

			#heat_page .waves-info-row h2
			{
				font-size: 25px;
				margin: 0;
			}
			#heat_page .waves-info-row.clickable:hover h2
			{
				text-decoration: underline;
			}
			#heat_page .waves-info-row h3
			{
				font-size: 15px;
				margin: 0;
				margin-top:10px;
			}

			#heat_page .waves-info-alert h2
			{
				font-size: 50px;
			}

		/* WAVES */

			#heat_page .wave-row {
				text-decoration: none;
				text-align:center;
				margin-bottom: 20px;

				height: 60px;
			}

			#heat_page .wave-row .surfer-badge-mini {
				display: inline-block;
				margin: 0; padding: 0; padding-top:5px;
				overflow: hidden;
				margin-left:5px; margin-top: 5px;

				width: 40px; height: 30px;
				box-shadow: 0px 0px 0px 1px #666;
				font-size: 16px;

				vertical-align:top:
			}

			#heat_page .wave-row .wave-number {
				display: inline-block;
				margin: 0; padding: 0;
				overflow: hidden;
				margin-left:10px; margin-top: 10px;

				height: 25px;
				font-size: 16px;

				vertical-align:top:
			}

			#heat_page .wave-row .score-label {
				display: inline-block;
				margin: 0; padding: 0;
				overflow: hidden;
				margin-top: 10px;
				margin-right: 10px;

				height: 25px;

				font-size: 16px;
				vertical-align:top:
			}

			#heat_page .wave-row input {
				display: inline-block;
				margin: 0; padding: 5px 10px;
				overflow: hidden;
				vertical-align: top;
				margin-top: 5px;
				margin-right: 10px;

				border: 1px solid #ccc;

				height: 30px; width: 60px;

				font-size: 16px;

				border-radius: 4px;
			}

			#heat_page .wave-row button {
				display: inline-block;
				margin: 0; padding: 3px 10px;
				overflow: hidden;
				vertical-align: top;
				margin-top: 5px;
				margin-right: 5px;

				height: 30px;

				font-size: 16px;
			}

			#heat_page .wave-row .progress {
				padding:0px;
				margin:0px;
				height: 10px;
				margin-top: 15px;
			}

			#heat_page .wave-row .nice-dude h2 {
				margin:0px;
				font-size: 16px;
			}


			/* Register */

				#register_page {
					background-color: #0065ad;
					height: 100%;
					padding-top: 100px;
				}

				#register_page .header {
					display: block;
					position: absolute;
					top: 0px; left: 0px;
					width: 100%; height: 100px;

					padding:10px;

					z-index: 22px;

					background-color: #003d6a;
				}

				#register_page .header .menu-3-lines-white {
					display: block;
					position: absolute;
					left:0px; top:0px;
					width: 32px; height: 32px;
					z-index: 10;

					margin-top: 10px;
					margin-left: 10px;
				}

				#register_page .header h1 {
					color: white;
					font-size: 20px;
					margin: 5px 0 0 0;
				}

				#register_page .wrapper td {
					padding: 0 20%;
				}

				#register_page form .form-group,
				#register_page form .form-group label
				 {
					text-align: left !important;
				}

				#register_page form input
				{
					border-radius: 1px;
				}

				#register_page form label
				{
					color: white;
					font-weight: normal;
					font-size: 13px;
				}

				#register_page .wrapper h1
				{
					color: white;
					text-align: left;
					font-size: 30px;
					margin: 0;
				}
				#register_page .wrapper h3
				{
					color: white;
					text-align: left;
					font-size: 16px;
					margin: 8px 0 20px 0;
				}

				#register_page .wrapper h3 a
				{
					color: white;
					opacity: 0.5;
				}

				#register_page .wrapper .btn-primary
				{
					background: #003d6a !important;
					border: none;
					padding: 7px 20px;
					color: white;
					border-radius: 3px;
					box-shadow: none;
				}
				#register_page .wrapper .btn-link
				{
					border: none;
					padding: 7px 20px;
					color: white;
					border-radius: 3px;
					box-shadow: none;
					opacity: 0.5;
				}
				#register_page .wrapper .btn-link:hover
				{
					text-decoration: none;
				}

	/* Login */

		#login_page {
			background-color: #0065ad;
			height: 100%;
			padding-top: 100px;
		}

		#login_page .header {
			display: block;
			position: absolute;
			top: 0px; left: 0px;
			width: 100%; height: 100px;

			padding:10px;

			z-index: 22px;

			background-color: #003d6a;
		}

		#login_page .header .menu-3-lines-white {
			display: block;
			position: absolute;
			left:0px; top:0px;
			width: 32px; height: 32px;
			z-index: 10;

			margin-top: 10px;
			margin-left: 10px;
		}

		#login_page .header h1 {
			color: white;
			font-size: 20px;
			margin: 5px 0 0 0;
		}

		#login_page .wrapper td {
			padding: 0 15%;
		}

		#login_page form .form-group,
		#login_page form .form-group label
		 {
			text-align: left !important;
		}

		#login_page form input
		{
			border-radius: 1px;
		}

		#login_page form label
		{
			color: white;
			font-weight: normal;
			font-size: 13px;
		}

		#login_page .wrapper h1
		{
			color: white;
			text-align: left;
			font-size: 30px;
			margin: 0;
		}
		#login_page .wrapper h3
		{
			color: white;
			text-align: left;
			font-size: 16px;
			margin: 8px 0 20px 0;
		}

		#login_page .wrapper h3 a
		{
			color: white;
			opacity: 0.5;
		}

		#login_page .wrapper .btn-primary
		{
			background: #003d6a !important;
			border: none;
			padding: 7px 20px;
			color: white;
			border-radius: 3px;
			box-shadow: none;
		}
		#login_page .wrapper .btn-link
		{
			border: none;
			padding: 7px 0 7px 20px;
			color: white;
			border-radius: 3px;
			box-shadow: none;
			opacity: 0.5;
		}
		#login_page .wrapper .btn-link:hover
		{
			text-decoration: none;
		}


	/* Password Reset */

		#password_reset {
			background-color: #0065ad;
			height: 100%;
			padding-top: 100px;
		}

		#password_reset .header {
			display: block;
			position: absolute;
			top: 0px; left: 0px;
			width: 100%; height: 100px;

			padding:10px;

			z-index: 22px;

			background-color: #003d6a;
		}

		#password_reset .header .menu-3-lines-white {
			display: block;
			position: absolute;
			left:0px; top:0px;
			width: 32px; height: 32px;
			z-index: 10;

			margin-top: 10px;
			margin-left: 10px;
		}

		#password_reset .header h1 {
			color: white;
			font-size: 20px;
			margin: 5px 0 0 0;
		}

		#password_reset .wrapper td {
			padding: 0 15%;
		}

		#password_reset form .form-group,
		#password_reset form .form-group label
		 {
			text-align: left !important;
		}

		#password_reset form input
		{
			border-radius: 1px;
		}

		#password_reset form label
		{
			color: white;
			font-weight: normal;
			font-size: 13px;
		}

		#password_reset .wrapper h1
		{
			color: white;
			text-align: left;
			font-size: 30px;
			margin: 0 0 20px 0;
		}
		/*#password_reset .wrapper h3
		{
			color: white;
			text-align: left;
			font-size: 16px;
			margin: 8px 0 20px 0;
		}*/

		#password_reset .wrapper h3 a
		{
			color: white;
			opacity: 0.5;
		}

		#password_reset .wrapper .btn-primary
		{
			background: #003d6a !important;
			border: none;
			padding: 7px 20px;
			color: white;
			border-radius: 3px;
			box-shadow: none;
		}
		#password_reset .wrapper .btn-link
		{
			border: none;
			padding: 7px 0 7px 20px;
			color: white;
			border-radius: 3px;
			box-shadow: none;
			opacity: 0.5;
		}
		#password_reset .wrapper .btn-link:hover
		{
			text-decoration: none;
		}



	/* Events */

		.event-row {
			text-decoration: none;
			text-align:center;
			margin: 0;
			margin-bottom: 2vh;

			margin-left: -15px; margin-right: -15px;
		}

	/* Event */





		.heat-row {

		}

		#event_view
		{
			padding-top: 30vh;
		}



		.progress.col-xs-10 {
			padding:0px;		/* Para que la barra de progreso de las olas funcione */
		}

		.vote-input {
			width:40px;
		}






		.register-message {
			color: white;
		}

		.heat-warning {
			color: white;
			padding: 5px;
		}


/* Typo */


	/* Events */

		.event-row h2, .heat-row h2, .next-event-row h2{
			color: white;
		}

		.event-row h3, .heat-row h3, .next-event-row h3{
			color: #FFD119;
		}

	/* Heat Page */

		/* TITLE */

			#event-title h2 {
				color: white;
			}
			#event-title h3 {
				color: #fee087;
			}

			#event-title .unix-to-until-for-heats {
				color: #fee087;
			}

		/* COMPETING */

			#competing-bar {
				color:#003d6a;
			}

		/* STATUS */

			#status-bar {
				color: white;
			}

		/* BODY */

			#heat_page .waves-info-row
			{
				color: #fee087;
			}
			#heat_page .waves-info-row h3
			{
				color: white;
			}

			#heat_page .waves-info-alert
			{
				color: #CE0000;
			}

		/* WAVE */

			#heat_page .wave-row .surfer-badge-mini {
				color: white;
			}
			#heat_page .wave-row .wave-number {
				color: white;
			}
			#heat_page .wave-row .score-label {
				color: white;
			}
			#heat_page .wave-row input {
				color: #fee087;
			}
			#heat_page .wave-row button {
				color: #333;
			}
			#heat_page .wave-row .nice-dude h2 {
				color: white;
			}


/* Colors */


	/* Heat Page */

		#event-title {
			background-color: #003d6a;
		}

		#competing-bar
		{
			background-color: white;
		}

		#competing-bar .surfer-badge-big {
			border: 1px solid #666;
		}

		#status-bar {
			background-color: #073763;
		}

		#heat_page .waves-info-row
		{
			background-color: rgba(0,74,128,0.5);
		}

		#heat_page .waves-info-alert
		{
			background-color: rgba(0,0,0,0);
		}

		#heat_page .wave-row input {
			background-color: rgba(0,0,0,0);
		}


	.event-row, .next-event-row {
		background-color: rgba(0,0,0,0.7);

	}








/* Images */


	.logo-big {
		background : rgba(0,0,0,0) url(../img/logo_big.png) no-repeat center center;
	}
	.logo-small {
		background : rgba(0,0,0,0) url(../img/logo_small.png) no-repeat 0 0;
		background-size: cover;
	}
	#events_page .news-1,
	#news_page .news-1  {
		background : rgba(0,0,0,0) url(../img/news/1.jpg) no-repeat center center;
		background-size: cover;
	}
	#events_page .news-2,
	#news_page .news-2  {
		background : rgba(0,0,0,0) url(../img/news/2.jpg) no-repeat center center;
		background-size: cover;
	}
	#events_page .news-3,
	#news_page .news-3  {
		background : rgba(0,0,0,0) url(../img/news/3.jpg) no-repeat center center;
		background-size: cover;
	}

	.menu-3-lines {
		background : rgba(0,0,0,0) url(../img/menu_btn.png) no-repeat 0 0;
		background-size: cover;
	}
	.menu-3-lines-white {
		background : rgba(0,0,0,0) url(../img/menu_btn_white_square.png) no-repeat 0 0;
		background-size: cover;
	}

	.loading-spin {
		background : rgba(0,0,0,0) url(../img/loading_spin_2.gif) no-repeat center center;
		background-size: cover;
	}
