<div id="event-title" class="row">
	<h2>{{event.current.name}}</h2>
    <span ng-repeat="h in (event.currentHeats | active) | limitTo:1">
    	<h3>Round {{ h.round.number }} | Heat {{ h.number }}</h3>
    	<div class="col-xs-3 heat-times left" ng-if="h.status == 'active'">
    		<span unix="{{ h.start_date | log }}" class="unix-to-until-for-heats"></span>
    	</div>
    	<div class="col-xs-6 col-progressbar" ng-if="h.status == 'active'">
    		<div class="progress progress-not-radius" ng-if="h.status == 'active'">
    			<div class="progress-bar progress-bar-yellow" role="progressbar" style="width: {{ h | heatElapsedPer }}%">
    				<span class="sr-only">20% Complete</span>
    			</div>
    		</div>
    	</div>
    	<div class="col-xs-3 heat-times" ng-if="h.status == 'active'">
    		<span unix="{{ h.finish_date }}" class="unix-to-until-for-heats"></span>
    	</div>
    </span>
</div>

<div id="event_page" class="page-view container-fluid" ng-init="counter = 0">

    <div class="nav-tools">
	    <div class="back-button clickable" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
	    <!-- [- in v0.12] <a class="back-button clickable" ng-href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> -->
	</div>

    <table style="width: 100%; height:100%;">
    <tr>
        <td style="text-align: center; vertical-align: middle;">

            <a ng-href="#/event/{{event.currentId}}/heat/{{h.id}}" class="row heat-row clickable" ng-repeat="h in (event.currentHeats | active)">
                <h2>Round {{ h.round.number }} <span ng-if="(h.round.number | lowercase) != 'final'">| Heat {{ h.number }}</span></h2>
                <h3>NOW LIVE</h3>
            </a>

            <div class="row heat-row" style="opacity:0.67;" ng-repeat="h in event.currentHeats | not_started | object2Array | orderBy:'number' | limitTo:1">
                <h2>Round {{ h.round.number }} | Heat {{ h.number }}</h2>
                <h3>NEXT</h3>
            </div>

            <div class="row heat-row" ng-if="!(event.currentHeats | not_started | length) && !(event.currentHeats | active)">
                <h2>No Heats Right Now</h2>
                <h3></h3>
            </div>

        </td>
    </tr>
    </table>

</div>


<div id="competing-bar" class="row" ng-repeat="h in (event.currentHeats | active) | limitTo:1">
	<div class="wrapper">
		<div class="wrapper2">
			<h3 ng-if="heat.data.status != 'finished'">COMPETING</h3>
			<h3 ng-if="heat.data.status == 'finished'">COMPETED</h3>
			<div class="card" ng-repeat="part in h.participations">
				<div class="surfer-badge-big" style="background-color: {{ surfersColors($index) }};">
					<span class="surfer-name">{{ part.surfer.nickname | uppercase | delete:'.'}}</span><br>
					<small class="surfer-country">{{ part.surfer.country.code3 }}</small>
				</div>
				<span class="score-wrapper">
					<span ng-repeat="w in wave.all | object2Array | orderBy:'number':true | limitTo:4" ng-if="w.vote && w.surfer_id == part.surfer_id">W{{w.number}} | S: {{ w.vote }}<br></span>
				</span>
			</div>
		</div>
	</div>
</div>

<div id="status-bar" class="row">
	<span ng-if="event.currentHeats | active | length"> Waiting for a wave </span>
	<span ng-if="! (event.currentHeats | active | length)"> Waiting for a heat </span>
</div>
