<div id="events_page" class="page-view container-fluid" ng-show="!welcomeLoading">

    <div class="header">
        <div class="menu-3-lines-white clickable" ng-click="showMenu()"></div>
        <div class="logo-small"></div>
    </div>

    <div class="jumbo">
        <ul class="slideshow">
            <li class="news-1">
                <a href="#/news/1" class="message">
                    You are the 6th Judge
                </a>
            </li>
            <li class="news-2">
                <a href="#/news/2" class="message">
                    Now Live!!
                </a>
            </li>
            <li class="news-3">
                <a href="#/news/3" class="message">
                    Join the WST Community!!
                </a>
            </li>
        </ul>
    </div>

    <div class="info" >
        <span ng-if="! (event.all | started | length)">
            <div class="col-mitad col-left">
                <h2 class="col-title">Next Event</h2>

                <div class="event-container" ng-repeat="event in (event.all | not_started | limitTo:1)">
                    <h1 ng-init="mv.set_info_event(event.id)" >{{ event.name }}</h1>
                    <h3 class="location" >{{ event.location }}, {{ event.country.code3 }}</h3>
                    <span class="wrapper-line">
                        <h3 class="counter">{{ event.start_date + '//'+now() | time:'until-day-hours-min-sec' }}</h3>
                        <h3 class="display">DAYS HOURS MIN SEC</h3>
                    </span>
                </div>
            </div><!--
        --><div class="col-mitad col-right">
                <h2 class="col-title">Timetable</h2>

                <h3 class="timetable-title">{{ mv.info_event_start | time:'date-verbose' }}</h3>
                <div class="wrapper">
                    <ul>
                        <li ng-repeat="h in mv.info_heats | not_started | object2Array | limitTo:4">Round {{ h.round.number }} Heat {{ h.number | pad:2 }}</li>
                    </ul>
                </div>
            </div>
        </span>
        <span ng-if="event.all | started | length">
            <div class="col-mitad col-left">
                <h2 class="col-title">Live Event</h2>

                <a class="clickable event-container" ng-href="#/event/{{event.id}}" ng-repeat="event in (event.all | started | limitTo:1)">
                    <h1 ng-init="mv.set_info_event(event.id)" >{{ event.name }}</h1>
                    <h3 class="location" >{{ event.location }}, {{ event.country.code3 }}</h3>
                    <span class="wrapper-line">
                        <h3 class="counter">{{ event.start_date + '//'+now() | time:'until-day-hours-min-sec' }}</h3>
                        <h3 class="display">DAYS HOURS MIN SEC</h3>
                    </span>
                </a>
            </div><!--
        --><div class="col-mitad col-right">
                <h2 class="col-title">Timetable</h2>

                <h3 class="timetable-title" ng-repeat="hprimero in mv.info_heats | started_but_not_finished | object2Array | orderBy:'start_date' | limitTo:1">{{ hprimero.start_date | time:'date-verbose' }}</h3>
                <h3 class="timetable-title" ng-if="! (mv.info_heats | started_but_not_finished | length)">{{ mv.info_event_start | time:'date-verbose' }}</h3>
                <div class="wrapper">
                    <ul>
                        <li ng-repeat="h in mv.info_heats | started_but_not_finished | limitTo:4">Round {{ h.round.number }} Heat {{ h.number | pad:2 }}</li>
                    </ul>
                </div>

            </div>
        </span>
    </div>

    <div class="calendar">
        <div class="title">
            Calendar
        </div>
        <div class="text">
            <marquee scrollamount="3" loop="infinite" align="left">
                <span ng-repeat="e in (event.all | not_started)">
                    <span class="fecha">{{ e.start_date | format:'ddd MMMM D' }}</span>
                    <span class="evento">{{ e.name }}</span>
                    <span class="separator" ng-show="!$last">|</span>
                </span>
            </marquee>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <div class="wrapper2" ng-if=" (user.top_voted_surfers | length)">
                <h3>Your Ranking</h3>
                <div class="col-tercio" ng-repeat="top_surfer in user.top_voted_surfers">
                    <div class="card">
                        <div class="left">
                            <table style="width: 100%; height:100%;">
                			<tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    {{ $index+1 }}
                                </td>
                            </tr>
                            </table>
                        </div><!--
                     --><div class="right" style="background-color: {{ surfersColors($index) }}">
                            <table style="width: 100%; height:100%;">
                			<tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    <span class="surfer">{{ top_surfer.nickname | uppercase | delete:'.' }}</span>
                                    <span class="country">{{ top_surfer.country.name }}</span>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper2" ng-if="! (user.top_voted_surfers | length)" style="opacity:0.5">
                <h3>Your Ranking</h3>
                <div class="col-tercio ng-scope">
                    <div class="card">
                        <div class="left">
                            <table style="width: 100%; height:100%;">
                			<tbody><tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    1
                                </td>
                            </tr>
                            </tbody></table>
                        </div><!--
                     --><div class="right" style="background-color: #2b78e4">
                            <table style="width: 100%; height:100%;">
                			<tbody><tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    <span class="surfer">FELIPE T</span>
                                    <span class="country">BRA</span>
                                </td>
                            </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="col-tercio ng-scope">
                    <div class="card">
                        <div class="left">
                            <table style="width: 100%; height:100%;">
                			<tbody><tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    2
                                </td>
                            </tr>
                            </tbody></table>
                        </div><!--
                     --><div class="right" style="background-color: #ff9900">
                            <table style="width: 100%; height:100%;">
                			<tbody><tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    <span class="surfer">JULIAN W</span>
                                    <span class="country">AUS</span>
                                </td>
                            </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="col-tercio ng-scope">
                    <div class="card">
                        <div class="left">
                            <table style="width: 100%; height:100%;">
                			<tbody><tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    3
                                </td>
                            </tr>
                            </tbody></table>
                        </div><!--
                     --><div class="right" style="background-color: #009e0f">
                            <table style="width: 100%; height:100%;">
                			<tbody><tr>
                				<td style="text-align: center; vertical-align: middle;">
                                    <span class="surfer">ADRIANO D S</span>
                                    <span class="country">BRA</span>
                                </td>
                            </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>





</div>

<div id="welcome_page" class="page-view container-fluid" ng-show="welcomeLoading">


    <div class="vertical-wrapper">
        <div class="logo-big">

        </div>
        <div class="loading-spin">

        </div>

    </div>


</div>
