
<div id="event-title" class="row">
	<h2>{{event.current.name}}</h2>
	<h3>Round {{ heat.data.round.number }} | Heat {{ heat.data.number }}</h3>
	<div class="col-xs-3 heat-times left" ng-if="heat.data.status == 'active'">
		<span unix="{{ heat.data.start_date }}" class="unix-to-until-for-heats"></span>
	</div>
	<div class="col-xs-6 col-progressbar" ng-if="heat.data.status == 'active'">
		<div class="progress progress-not-radius" ng-if="heat.data.status == 'active'">
			<div class="progress-bar progress-bar-yellow" role="progressbar" style="width: {{ heat.elapsedPer() }}%">
				<span class="sr-only">20% Complete</span>
			</div>
		</div>
	</div>
	<div class="col-xs-3 heat-times" ng-if="heat.data.status == 'active'">
		<span unix="{{ heat.data.finish_date }}" class="unix-to-until-for-heats"></span>
	</div>
</div>

<div id="heat_page" class="page-view container-fluid" ng-init="counter = 0">

	<div class="nav-tools">
	    <div class="back-button clickable" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
	    <!-- [- in v0.12] <a class="back-button clickable" ng-href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> -->
	</div>


	<!-- Wave Rows -->

    <div class="row wave-row" ng-href="#/event/{{event.currentId}}/heat/{{heat.id}}" style="background-color: {{ surfersColorsRgba((heat.participations | getSurferIndex:w.surfer_id), 0.6) }};" ng-repeat="w in (wave.all | active)" ng-if="heat.data.status != 'finished' && (!w.vote || (now() - w.vote_date) < 5)">
		<span ng-if="!w.vote">
	        <span class="pull-left">
				<span class="surfer-badge-mini" style="background-color: {{ surfersColorsRgba((heat.participations | getSurferIndex:w.surfer_id), 1) }};">
				{{ surfer.get(w.surfer_id).nickname | iniciales }}
				</span><!--
			--><span class="wave-number">Wave {{ w.number }}</span>
				<!-- [- in v0.12] Wave {{ w.number }} of {{ surfer.get(w.surfer_id).nickname }} -->
			</span>

			<span class="pull-right" >
				<span class="score-label">Score</span><!--
			--><input type="text" name="name" value="" ng-model="votes[w.id]" ng-keyup="$event.keyCode == 13 && (votes[w.id] | validVote) && wave.vote(w.id, votes[w.id])"/><!--
			--><button name="button" class="btn btn-yellow" ng-click="(votes[w.id] | validVote) ? wave.vote(w.id, votes[w.id]) : alert('Invalid vote')" ng-disabled="false && !(votes[w.id] | validVote)">Vote</button>
			</span>

			<div class="progress progress-not-radius col-xs-12">
				<div class="progress-bar progress-bar-plain" role="progressbar" style="width: {{ w.percentage() }}%; background-color: {{ surfersColorsRgba((heat.participations | getSurferIndex:w.surfer_id), 1) }};">
					<span class="sr-only">{{ heat.elapsedPer() }}% Complete</span>
				</div>
			</div>
		</span>
		<span ng-if="w.vote && (now() - w.vote_date) < 4" class="nice-dude">
			<table style="width: 100%; height:100%;">
			<tr>
				<td style="text-align: center; vertical-align: middle;">
					<h2>Nice dude!</h2>
				</td>
			</tr>
			</table>
		</span>
    </div>




	<!-- Info Rows -->


		    <div class="row waves-info-row waves-info-alert" ng-if="!(wave.all | activeAndRecentlyVoted | length) && heat.data.status == 'active' && (heat.data.finish_date | time:'until-secs') <= 300">
				<table style="width: 100%;">
				  <tr>
				     <td style="text-align: center; vertical-align: middle;">
						<h2 unix="{{ heat.data.finish_date }}" class="unix-to-until-for-info-row"></h2>
				     </td>
				  </tr>
				</table>
		    </div>
		    <div class="row waves-info-row clickable" ng-if="heat.data.status == 'finished'" ng-click="goBack()">
				<table style="width: 100%;">
				  <tr>
				     <td style="text-align: center; vertical-align: middle;">
				        <h2>Heat finished!</h2>
				        <h3>Click here to exit</h3>
				     </td>
				  </tr>
				</table>
		    </div>
		    <div class="row waves-info-row clickable" ng-if="heat.data.status == 'not_started'" ng-click="goBack()">
				<table style="width: 100%;">
				  <tr>
				     <td style="text-align: center; vertical-align: middle;">
				        <h2>Heat not started</h2>
				        <h3>Click here to exit</h3>
				     </td>
				  </tr>
				</table>
		    </div>

</div>

<div id="competing-bar" class="row">
	<div class="wrapper">
		<div class="wrapper2">
			<h3 ng-if="heat.data.status != 'finished'">COMPETING</h3>
			<h3 ng-if="heat.data.status == 'finished'">COMPETED</h3>
			<div class="card" ng-repeat="part in heat.participations">
				<div class="surfer-badge-big" style="background-color: {{ surfersColors($index) }};">
					<span class="surfer-name">{{ part.surfer.nickname | uppercase | delete:'.'}}</span><br>
					<small class="surfer-country">{{ part.surfer.country.code3 }}</small>
				</div>
				<span class="score-wrapper">
					<span ng-repeat="w in wave.all | object2Array | orderBy:'number':true | limitTo:4" ng-if="w.vote && w.surfer_id == part.surfer_id">W{{w.number}} | S: {{ w.vote }}<br></span>
				</span>
			</div>
		</div>
	</div>
</div>

<div id="status-bar" class="row">

	<span ng-if=" heat.data.status == 'not_started'">Heat not started</span>
	<span ng-if=" heat.data.status == 'active'">
		<span ng-if="(wave.all | recentlyVoted | length)">U rock!</span>
		<span ng-if="!(wave.all | recentlyVoted | length)">
			<span ng-if="(wave.all | active | not_voted | object2Array | length)">Incoming waves!</span>
			<span ng-if="!(wave.all | active | not_voted | object2Array | length)">Waiting for a wave</span>
		</span>
	</span>

	<span ng-if="heat.data.status == 'finished'">Heat finished </span>




</div>
