<div id="login_page" class="page-view container-fluid">

	<div class="header">
		<div class="menu-3-lines-white clickable" ng-click="showMenu()"></div>
      <table style="width: 100%; height:auto;">
      <tr>
          <td style="text-align: center; vertical-align: middle;">

              <h1>Sign In</h1>

          </td>
      </tr>
      </table>
  </div>

		<table class="wrapper" style="width: 100%; height:100%;">
		<tr>
				<td style="text-align: center; vertical-align: middle;">

					<h1>Sign in to your account</h1>
					<h3>Don't have an account? <a href="#/register">Sign up now</a></h3>

					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-12 control-label">Email</label>
							<div class="col-sm-12">
								<input type="email" class="form-control" id="inputEmail3" ng-model="newLogin.email">
							</div>
						</div>

						<div class="form-group">
							<label for="inputPassword3" class="col-sm-12 control-label">Password</label>
							<div class="col-sm-12">
								<input type="password" class="form-control" id="inputPassword3" ng-model="newLogin.password">
							</div>
						</div>


						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary" ng-click="user.login(newLogin)">Sign in</button>
								<a type="button" class="btn btn-link" href="#/password_reset">Forgot your password?</a>
							</div>
						</div>
					</form>

				</td>
		</tr>
		</table>



</div>
