<div id="news_page" class="page-view container-fluid" ng-show="!welcomeLoading">

    <div class="header">
        <div class="logo-small"></div>
    </div>

    <div class="nav-tools">
	    <div class="back-button clickable" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
	</div>

    <div class="jumbo" ng-class="'news-'+new_id">

    </div>

    <div class="message">
        Be the 6th Judge
    </div>


    <div class="info" >
        <span ng-if="new_id == 1">
            <p>
            We are 25 million surfers around the globe, we own the ocean, the waves and the pleasure of surfing, but we are not in charge; actually it is just a bunch of slick corporate guys who is dictating the rules of our sport and ruinning the image of the surfers as athletes. We want you to change this. We are the world surf team.
            </p><p>
            World surf team is an international surfing community created to support the surfers supreme power over their sport, getting it back from the corporations with big economic interests that are right now altering the image of surfing and the fair play in the competitions.
            </p><p>
            Our ocean, our sport, our decision. World surf team, be a member join the team and enjoy our free app. Uscore surf.
            </p><p>
            Uscore surf is the ultimate surf app that will make you feel like a professional surfing judge, scoring every wave in every heat.
            </p>
        </span>
        <span ng-if="new_id == 2">
            <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p><p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p><p>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p><p>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p><p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>

        </span>
        <span ng-if="new_id == 3">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p><p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p><p>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p><p>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p><p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>

        </span>

    </div>


</div>
