<div id="password_reset" class="page-view container-fluid">

	<div class="header">
		<div class="menu-3-lines-white clickable" ng-click="showMenu()"></div>
      <table style="width: 100%; height:auto;">
      <tr>
          <td style="text-align: center; vertical-align: middle;">

              <h1>Password Reset</h1>

          </td>
      </tr>
      </table>
  </div>
		<table class="wrapper" style="width: 100%; height:100%;">
		<tr>
				<td style="text-align: center; vertical-align: middle;">

					<h1>Reset your password</h1>

					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-12 control-label">Email</label>
							<div class="col-sm-12">
								<input type="email" class="form-control" id="inputEmail3" ng-model="resetData.email">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary" ng-click="user.reset_password_send(resetData)">Send confirmation email</button>
							</div>
						</div>
					</form>

				</td>
		</tr>
		</table>



</div>
