<div id="password_reset" class="page-view container-fluid">

	<div class="header">
		<div class="menu-3-lines-white clickable" ng-click="showMenu()"></div>
      <table style="width: 100%; height:auto;">
      <tr>
          <td style="text-align: center; vertical-align: middle;">

              <h1>Password Reset</h1>

          </td>
      </tr>
      </table>
  </div>
		<table class="wrapper" style="width: 100%; height:100%;">
		<tr>
				<td style="text-align: center; vertical-align: middle;">

					<h1>Reset your password</h1>

					<form class="form-horizontal" ng-init="resetData.token = password_reset_code">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-12 control-label">Email</label>
							<div class="col-sm-12">
								<input type="email" class="form-control" id="inputEmail3" ng-model="resetData.email">
							</div>
						</div>

						<div class="form-group">
							<label for="inputPassword3" class="col-sm-12 control-label">New Password</label>
							<div class="col-sm-12">
								<input type="password" class="form-control" id="inputPassword3" ng-model="resetData.password">
							</div>
						</div>

						<div class="form-group">
							<label for="inputPasswordConfirmation" class="col-sm-12 control-label">Password Confirmation</label>
							<div class="col-sm-12">
								<input type="password" class="form-control" id="inputPasswordConfirmation" ng-model="resetData.password_confirmation">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary" ng-click="user.reset_password(resetData)">Apply</button>
							</div>
						</div>
					</form>

				</td>
		</tr>
		</table>



</div>
