<div id="register_page" class="page-view container-fluid">

	<div class="header">
		<div class="menu-3-lines-white clickable" ng-click="showMenu()"></div>
        <table style="width: 100%; height:auto;">
        <tr>
            <td style="text-align: center; vertical-align: middle;">

                <h1>Sign Up</h1>

            </td>
        </tr>
        </table>
    </div>


	<table class="wrapper" style="width: 100%; height:100%;">
	<tr>
			<td style="text-align: center; vertical-align: middle;">

				<h1>Sign up and start voting</h1>
				<h3>Already have an account? <a href="#/login">Sign in</a></h3>

				<div class="alert alert-warning" role="alert" ng-if="registerMessage"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> {{registerMessage}}</div>
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-12 control-label">Email</label>
						<div class="col-sm-12">
							<input type="email" class="form-control" id="inputEmail3" ng-model="newUser.email">
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword3" class="col-sm-12 control-label">Password</label>
						<div class="col-sm-12">
							<input type="password" class="form-control" id="inputPassword3" ng-model="newUser.password">
						</div>
					</div>

					<div class="form-group">
						<label for="inputCountry" class="col-sm-2 control-label">Country</label>
						<div class="col-sm-12">
						<select class="form-control" ng-model="newUser.country_id">
							<option ng-repeat="c in countries | object2Array | orderBy:'name'" value="{{ c.id }}">{{ c.name }}</option>
						</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary" ng-click="user.register(newUser)">Sign Up</button>
						</div>
					</div>
				</form>

			</td>
	</tr>
	</table>


</div>
