

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#events .wrapper {
	overflow-y: auto;
	height:360px;
}

#rounds .wrapper {
	overflow-y: auto;
	height:360px;
}

h3 div {
	display:inline-block;
}


body {
	display:none;
}



#waves tbody td:last-child{
    width: 250px !important;
}

footer {
    margin-top:30px;
}


tr.warning td {
	background-color: #FFDDA3 !important;
}
tr.warning:hover td {
	background-color: #FAC05C !important;
}

.dropdown-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
